// 断点列表
$breakpoints: (
  'phone': (
    320px,
    480px,
  ),
  'pad': (
    481px,
    768px,
  ),
  'notebook': (
    769px,
    1024px,
  ),
  'desktop': (
    1025px,
    1200px,
  ),
  'tv': 1201px,
);
// 混合
@mixin respond-to($breakname) {
  $bp: map-get($breakpoints, $breakname);
  @if type-of($bp) == 'list' {
    $min: nth($bp, 1);
    $max: nth($bp, 2);
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @media (min-width: $bp) {
      @content;
    }
  }
}

.header {
  display: flex;
  width: 100%;
  @include respond-to('phone') {
    height: 50px;
  }
  @include respond-to('pad') {
    height: 60px;
  }
  @include respond-to('notebook') {
    height: 80px;
  }
  @include respond-to('desktop') {
    height: 100px;
  }
  @include respond-to('tv') {
    height: 120px;
  }
}
