* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

.container {
  width: 80%;
  margin: 1em auto;
  font-family: 'Courier New', Courier, monospace;
  line-height: 2;
  position: relative;
}

.eraser {
  position: absolute;
  left: 0;
  top: 0;
}
.text {
  --p: 5%;
  background: linear-gradient(
    to right,
    #0000 var(--p),
    #000 calc(var(--p) + 100px)
  );
  color: transparent;
  animation: erase 5s forwards;
}

@property --p {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@keyframes erase {
  to {
    --p: 100%;
  }
}
