@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Fjalla One', sans-serif;
  background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
}

div {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transform: rotate(-10deg);
  display: flex;
}
.title span {
  transform: skew(-10deg);
  text-shadow: 1px 1px #533d4a, 2px 2px #533d4a, 3px 3px #533d4a,
    4px 4px #533d4a, 5px 5px #533d4a, 6px 6px #533d4a;
  opacity: 0;
  animation: move 1s cubic-bezier(0.56, 0.09, 0.49, 1.37) forwards var(--delay);
}
@keyframes move {
  from {
    opacity: 0;
    transform: skew(-10deg) translateY(300%);
  }
  to {
    opacity: 1;
    transform: skew(-10deg) translateY(0);
  }
}
.title:nth-child(1) {
  color: #e55643;
}
.title:nth-child(2) {
  color: #2b9f5e;
}
.title:nth-child(3) {
  color: #f1c83c;
}
